.icon-button-stack {
    position: fixed;      
    top: 20%;              
    left: 20px;           
    display: flex;
    flex-direction: column;  
    align-items: center;      
    gap: 10px;                /* Space between buttons */
    z-index: 900;   
}

.icon-button {
    background-color: rgba(24, 24, 24, 0.5);  
    color: #ffffff;              
    border: none;
    border-radius: 50%;         
    padding: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.icon-button:hover {
    background-color: rgba(68, 68, 68, 0.5);
}

.icon-button:active {
    transform: scale(0.95);
}

.icon-button svg {
    width: 2.5rem;
    height: 2.5rem;
}
