<div class="tire-brake">
    <div class="wrapper">
        @if (LeftSideTire)
        {
            <div class="tire left" style="background-color:@TireLeftColor" />
            <div class="tire" style="background-color:@TireMiddleColor" />
            <div class="tire right" style="background-color:@TireRightColor" />
            <div class="brake" style="background-color:@BrakeColor" />
        } else
        {
            <div class="brake" style="background-color:@BrakeColor" />
            <div class="tire left" style="background-color:@TireRightColor" />
            <div class="tire" style="background-color:@TireMiddleColor" />
            <div class="tire right" style="background-color:@TireLeftColor" />
        }

    </div>

</div>

@code {
    [Parameter] public string TireLeftColor { get; set; } = "darkgray";
    [Parameter] public string TireMiddleColor { get; set; } = "darkgray";
    [Parameter] public string TireRightColor { get; set; } = "darkgray";
    [Parameter] public string BrakeColor { get; set; } = "yellow";
    [Parameter] public bool LeftSideTire { get; set; } = true;
}
