.tire-brake {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100%;
    flex: 1 1 auto;
    min-height: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /*border-radius: 4px;*/
    overflow: hidden;
    box-sizing: border-box;
}

.tire {
    width: 100%;
    height: 100%;
    transition: height;
    box-sizing: border-box;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1px;
}
.left {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.right {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}


.brake {
    width: 100%;
    height: 50%;
    transition: height;
    box-sizing: border-box;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.tire-type-left {
    position: absolute;
    transform: translate(9.5px, 15px);
    border: 4px solid red;
    border-radius: 10px;
    background: red;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tire-type-right {
    position: absolute;
    transform: translate(21.5px, 15px);
    border: 4px solid red;
    border-radius: 10px;
    background: red;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}