.user-inputs-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
    text-align: center;
    border-radius: 4px;
    width: 75px;
    height: 175px;
    background-color: rgba(2, 0, 0, 0.5);
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    padding: 4px;
}

.pedals-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 4px;
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
}

.steering-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    flex-shrink: 0;
    padding: 0;
}

.steering-wheel {
    width: 70px;
    height: 70px;
    -webkit-mask-image: url(/img/wheel.svg);
    mask-image: url(/img/wheel.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.clutch-component,
.throttle-component,
.brake-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 0;
    min-width: 0;
    height: 100%;
    padding: 0;
    box-sizing: border-box;
}

.value-label {
    color: white;
    font-size: 12px;
    margin: 0;
    line-height: 1;
    font-weight: bold;
    white-space: nowrap;
    flex-shrink: 0;
}

/* small responsive tweak: shrink height on narrow containers */
@media (max-width: 360px) {
    .clutch-component,
    .throttle-component,
    .brake-component {
        height: 96px;
    }
}
