@using R3E.YaHud.Components.Widget.Core
@inherits HudWidgetBase<ClockSettings>
@implements IDisposable

@if (Settings.Visible)
{
    <div id=@ElementId class="clock-widget" >
        <span class="text" style="color: @Settings.TextColor">@currentTime.ToString("HH:mm:ss")</span>
    </div>
}

@code {
    private DateTime currentTime = DateTime.Now;

    private Timer? timer;

    public override string ElementId { get => "clockWidget"; }
    public override string Name => "Clock"; 
    public override string Category => "Utility";

    public override double DefaultXPercent => 50;
    public override double DefaultYPercent => 20;

    public override bool Collidable => false;

    public Clock()
    {
        UseR3EData = false;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        timer = new Timer(_ => { InvokeUpdate(); }, null, 0, 1000);
    }

    protected override void Update()
    {
        currentTime = DateTime.Now;
    }

    public override void Dispose()
    {
        base.Dispose();
        timer?.Dispose();
    }
}
