@using System.Reflection
@using R3E.YaHud.Client.Services.Settings
@using R3E.YaHud.Client.Widget
@using R3E.YaHud.Client.Widget.Core


@typeparam TSettings

<div>
    @foreach (var prop in Settings!.GetType().GetProperties())
    {
        var attr = prop.GetCustomAttribute<SettingTypeAttribute>();
        if (attr != null)
        {
            <div class="form-group mb-2">
                <label>@attr.DisplayName</label>
                @RenderInput(prop, attr)
            </div>
        }
    }
</div>

@code {
    [Parameter] public required TSettings Settings { get; set; }

    private RenderFragment RenderInput(PropertyInfo prop, SettingTypeAttribute attr) => builder =>
    {
        var value = prop.GetValue(Settings);
        var seq = 0;

        switch (attr.Type)
        {
            case SettingsTypes.Checkbox:
                builder.OpenElement(seq++, "input");
                builder.AddAttribute(seq++, "type", "checkbox");
                builder.AddAttribute(seq++, "checked", (bool?)value ?? false);
                builder.AddAttribute(seq++, "onchange",
                    EventCallback.Factory.Create<ChangeEventArgs>(this, e =>
                        prop.SetValue(Settings, e.Value is bool b ? b : ((string)e.Value == "on"))
                    ));
                builder.CloseElement();
                break;

            case SettingsTypes.Slider:
                builder.OpenElement(seq++, "input");
                builder.AddAttribute(seq++, "type", "range");
                builder.AddAttribute(seq++, "min", attr.Min);
                builder.AddAttribute(seq++, "max", attr.Max);
                builder.AddAttribute(seq++, "step", attr.Step);
                builder.AddAttribute(seq++, "value", value?.ToString() ?? "0");
                builder.AddAttribute(seq++, "oninput",
                    EventCallback.Factory.Create<ChangeEventArgs>(this, e =>
                    {
                        var val = Convert.ToDouble(e.Value);
                        prop.SetValue(Settings, Convert.ChangeType(val, prop.PropertyType));
                    }));
                builder.CloseElement();

                // Optional: show current value
                builder.AddContent(seq++, $" {value}");
                break;

            case SettingsTypes.Number:
                builder.OpenElement(seq++, "input");
                builder.AddAttribute(seq++, "type", "number");
                builder.AddAttribute(seq++, "min", attr.Min);
                builder.AddAttribute(seq++, "max", attr.Max);
                builder.AddAttribute(seq++, "step", attr.Step);
                builder.AddAttribute(seq++, "value", value?.ToString() ?? "0");
                builder.AddAttribute(seq++, "onchange",
                    EventCallback.Factory.Create<ChangeEventArgs>(this, e =>
                    {
                        var val = Convert.ToDouble(e.Value);
                        prop.SetValue(Settings, Convert.ChangeType(val, prop.PropertyType));
                    }));
                builder.CloseElement();
                break;

            case SettingsTypes.ColorPicker:
                builder.OpenElement(seq++, "input");
                builder.AddAttribute(seq++, "type", "color");
                builder.AddAttribute(seq++, "value", value?.ToString() ?? "#ffffff");
                builder.AddAttribute(seq++, "onchange",
                    EventCallback.Factory.Create<ChangeEventArgs>(this, e =>
                    {
                        var val = e.Value?.ToString() ?? "#ffffff";
                        prop.SetValue(Settings, Convert.ChangeType(val, prop.PropertyType));
                    }));
                builder.CloseElement();
                break;
        }
    };
}