.tire-widget {
    width: 150px;
    padding: 10px;
    background: #000;
    color: #fff;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
}

.tire-values {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 2px 0;
    height: 18px;
}

.tire-values.bottom {
    margin: 2px 5px;
}

.tire-temps {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 18px;
    margin: 0 5px
}

.bar-row {
    display: flex;
    justify-content: space-between;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    width: 28px;
}

    .bar span {
        display: block;
        height: 10px;
        border-radius: 3px;
        background: #1aff8c; /* active green */
        opacity: 0.9;
    }

        /* inactive segments */
        .bar span.inactive {
            background: #0b3d2e;
            opacity: 0.6;
        }

/* center label */
.center-label {
    font-size: 14px;
    font-weight: 600;
}

/* Optional: blue “target” zone */
.bar span.target {
    background: #1e90ff;
}


.tire-type {
    border: 4px solid red;
    border-radius: 10px;
    background: red;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
}

.tire-age {
    border: 4px solid lightgray;
    border-radius: 10px;
    background: lightgray;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
}

.tire-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    flex-direction: column;

}

hr.solid {
    border-top: 2px solid #fff;
    margin: 8px 0;
}

p.brake-temp {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin-bottom: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 15px;
}