#layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#time-delta-best-lap {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}

#box-container {
    background-color: rgba(0 0 0 / 0.5);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;

    display: flex;
    flex-direction: column;
}

::deep .visual-bar {
    height: 16px;
}

#sector-times {
    display: flex;
}

.sector-time {
    padding: 0.1rem 0.25rem;
}

.sector-time > span {
    display: block;
    width: 11ch;
    text-align: center;
    font-size: 0.75rem;
}

#lap-distance-fraction {
    flex-grow: 1;
}

#info-grid {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "est-lap-time est-position"
        "last-lap-time .";
    font-size: 0.75rem;
}

#estimate-lap-time {
    grid-area: est-lap-time;
    display: block;
    width: 100%;
    height: 100%;
    text-align: start;
    vertical-align: middle;
}

#last-lap-time {
    grid-area: last-lap-time;
    display: block;
    width: 100%;
    height: 100%;
    text-align: start;
    vertical-align: middle;
}

#estimate-position {
    grid-area: est-position;
    display: block;
    width: 100%;
    height: 100%;
    text-align: end;
    vertical-align: middle;
}