@inherits R3E.YaHud.Client.Widget.HudWidgetBase
@implements IDisposable

@if (Visible)
{
    <div id=@ElementId class="clock-widget" >
        <span class="text">@currentTime.ToString("HH:mm:ss")</span>
    </div>
}

@code {
    private DateTime currentTime = DateTime.Now;

    private Timer? timer;

    public override string ElementId { get => "clockWidget"; }
    public override string Name => "Clock"; 
    public override string Catagory => "Utility";

    public Clock()
    {
        UseR3EData = false;
        DefaultXPercent = 50;
        DefaultYPercent = 20;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        timer = new Timer(_ => { InvokeUpdate(); }, null, 0, 1000);
    }

    protected override void Update()
    {
        currentTime = DateTime.Now;
    }

    public override void Dispose()
    {
        timer?.Dispose();
        base.Dispose();
    }
}
