.motec-widget {
    text-align: center;
    width: 300px;
    height: 500px;
    position: absolute;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent scrollbars inside the widget */
    box-sizing: border-box; /* Include padding/border in width */
}

.text {
    color: red;
    font-size: 48px;
}