@inject R3E.YaHud.Client.SharedMemoryClientService SharedMemoryClientService
@inherits R3E.YaHud.Client.Widget.HudWidgetBase
@implements IDisposable

<div id=@ElementId class="motec-widget text">
    <p>@Gear</p>
    <p>@Speed</p>
    <p>@RPM</p>
    <br />
    <small class="lock-status">@(Locked ? "Locked" : "Unlocked")</small>
    <button @onclick="ResetPosition">Reset</button>
</div>
@code {
    public string Gear { get; private set; } = "N";
    public float Speed { get; private set; } = 0.0f;
    public float RPM { get; private set; } = 0.0f;

    public override string Name => "MoTec";
    public override string Catagory => "Telemetry";
    protected override string ElementId { get => "motecWidget"; }
    protected override double DefaultYPercent { get => 10; } // top
    protected override double DefaultXPercent { get => 90; } // right

    protected override void OnInitialized()
    {
        base.OnInitialized();
        SharedMemoryClientService.DataUpdated += OnDataUpdated;
    }

    protected override void Update()
    {
        R3E.Data.Shared data = SharedMemoryClientService.Data;
        Gear = data.Gear == 0 ? "N" : data.Gear.ToString();
        Speed = R3E.Utilities.MpsToKph(data.CarSpeed);
        RPM = R3E.Utilities.RpsToRpm(data.EngineRps);
    }

    private void OnDataUpdated(R3E.Data.Shared newData)
    {
        InvokeUpdate();
    }

    public override void Dispose()
    {
        base.Dispose();
        SharedMemoryClientService.DataUpdated -= OnDataUpdated;
    }
}