#progressWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#time-delta-best-lap {
    font-size: 1.5rem;
}

#box-container {
    background-color: #00000080;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 200px;
    height: 50px;

    display: flex;
    flex-direction: column;
}

#time-delta-best-lap-bar {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "positive negative";
}