#progressWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#time-delta-best-lap {
    font-size: 1.75rem;
}

#box-container {
    background-color: #00000080;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 50px;

    display: flex;
    flex-direction: column;
}

::deep .visual-bar {
    height: 20px;
}

#sector-times {
    display: flex;
}

.sector-time {
    padding: 0.1rem 0.25rem;
}