@using R3E.YaHud.Components.Widget.Core
@using R3E.YaHud.Components.Widget.Progress.Components
@using System.Globalization
@inherits HudWidgetBase<ProgressSettings>
@implements IDisposable

@if (Settings?.Visible ?? false)
{
    <div id=@ElementId>
        <span id="time-delta-best-lap" style="color: @TimeDeltaBestLapSelfColor;">@TimeDeltaBestLapSelf.ToString("0.###")</span> <!-- TODO: Should it round or truncate? -->
    
        <div id="box-container">
            <PositiveNegativeBar 
                Value=@(TimeDeltaBestLapSelf * -1) 
                Range=@Settings.PositiveNegativeBarRange
                RootElementClass="visual-bar" 
                PositiveColor=@Settings.PositiveDeltaTimeColor 
                NegativeColor=@Settings.NegativeDeltaTimeColor />

            <div id="sector-times">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="sector-time" style="background-color: @SectorColors[i];">
                        <span>S@(i+1): @GetSectorTimeFormatted(SectorTimes[i])</span>
                    </div>
                }
            </div>
        </div>
    </div>
}


@code {

    // Widget values
    public override string ElementId { get => "progressWidget"; }
    public override string Name => "Progress";
    public override string Category => "Telemetry";

    public override double DefaultXPercent => 50;
    public override double DefaultYPercent => 20;

    public override bool Collidable => false;

    // Controlling values
    private double TimeDeltaBestLapSelf = 0.0f;
    private double[] SectorTimes = [-1, -1, -1];

    // Style values
    private string TimeDeltaBestLapSelfColor = "#000000";
    private string[] SectorColors = ["#000000", "#000000", "#000000"];

    protected override Task OnSettingsLoadedAsync()
    {
        TimeDeltaBestLapSelfColor = Settings!.NeutralDeltaTimeColor;
        SectorColors = Enumerable.Repeat(Settings!.NeutralSectorTimeColor, 3).ToArray();

        return Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) 
    {
        await base.OnAfterRenderAsync(firstRender);

        // TimeDeltaBestLapSelfColor = Settings!.NeutralDeltaTimeColor;
        // SectorColors = Enumerable.Repeat(Settings!.NeutralSectorTimeColor, 3).ToArray();
    }

    protected override void Update() {
        UpdateWithValuesFromR3E();
        UpdateVisuals();

        /*
        * public Single LapDistance;
    // fraction of lap completed, 0.0-1.0, -1.0 = N/A
    public Single LapDistanceFraction;

    // The current best lap time for the leader of the session (-1.0 = N/A)
    public Single LapTimeBestLeader;
    // The current best lap time for the leader of the player's class in the current session (-1.0 = N/A)
    public Single LapTimeBestLeaderClass;
    // Sector times of fastest lap by anyone in session
    // Unit: Seconds (-1.0 = N/A)
    public Sectors<Single> SectorTimesSessionBestLap;
    // Unit: Seconds (-1.0 = none)
    public Single LapTimeBestSelf;
    public Sectors<Single> SectorTimesBestSelf;
    // Unit: Seconds (-1.0 = none)
    public Single LapTimePreviousSelf;
    public Sectors<Single> SectorTimesPreviousSelf;
    // Unit: Seconds (-1.0 = none)
    public Single LapTimeCurrentSelf;
    public Sectors<Single> SectorTimesCurrentSelf;
    // The time delta between the player's time and the leader of the current session (-1.0 = N/A)
    public Single LapTimeDeltaLeader;
    // The time delta between the player's time and the leader of the player's class in the current session (-1.0 = N/A)
    public Single LapTimeDeltaLeaderClass;
    // Time delta between the player and the car placed in front (-1.0 = N/A)
    // Units: Seconds
    public Single TimeDeltaFront;
    // Time delta between the player and the car placed behind (-1.0 = N/A)
    // Units: Seconds
    public Single TimeDeltaBehind;
    // Time delta between this car's current laptime and this car's best laptime
    // Unit: Seconds (-1000.0 = N/A)
    public Single TimeDeltaBestSelf;
    // Best time for each individual sector no matter lap
    // Unit: Seconds (-1.0 = N/A)
    public Sectors<Single> BestIndividualSectorTimeSelf;
    public Sectors<Single> BestIndividualSectorTimeLeader;
    public Sectors<Single> BestIndividualSectorTimeLeaderClass;
         */
    }

    private void UpdateWithValuesFromR3E() {
        var rawData = TelemetryService.Data.Raw;

        TimeDeltaBestLapSelf = rawData.TimeDeltaBestSelf;
        SectorTimes = [
            rawData.SectorTimesPreviousSelf.Sector1,
            rawData.SectorTimesPreviousSelf.Sector2,
            rawData.SectorTimesPreviousSelf.Sector3
        ];
    }

    private void UpdateVisuals(bool isTest = false)
    {
        TimeDeltaBestLapSelfColor = TimeDeltaBestLapSelf switch 
        {
            > 0.0 => Settings!.NegativeDeltaTimeColor,
            < 0.0 => Settings!.PositiveDeltaTimeColor,
            _ => Settings!.NeutralDeltaTimeColor
        };
    }

    protected override void UpdateWithTestData() {
        var rnd = new Random();
        TimeDeltaBestLapSelf = rnd.NextDouble() * 2 - 1; //-0.78;
        for (int i = 0; i < 3; i++)
        {
            SectorTimes[i] = rnd.NextDouble() * 180;
        }

        SectorColors = [
            Settings!.NeutralSectorTimeColor,
            Settings!.FastestSectorTimeSelfColor,
            Settings!.FastestSectorTimeAllColor
        ];

        UpdateVisuals(true);
    }

    public override void Dispose() {
        base.Dispose();
    }

    private string GetSectorTimeFormatted(double time)
    {
        if (time == -1)
            return "-:--.---";

        var minutes = Math.Floor(time / 60);
        var seconds = time % 60;

        return $"{(minutes > 0 ? minutes + ":" : "")}{seconds.ToString("0.000", CultureInfo.InvariantCulture)}";
    }
}
