.Fuel-widget {
    display: flex;
    flex-direction: row;   /* stack children horizontally */
    align-items: center;      /* center horizontally */
    text-align: center;
    border-radius: 4px;
    width: 300px;             /* fixed width */
    height: auto;             /* height defined by contents */
    background-color: rgba(2, 0, 0, 0.5);
    position: absolute;       /* can still be placed absolutely */
    box-sizing: border-box;
    overflow: hidden;
    padding: 5px;
}

.FuelRemaining-text {
    color: green;
    font-size: 100px;
    margin: 0;                 /* remove default spacing */
    line-height: 0.9;          /* tighten vertical spacing */
}

.TimeEstimatedLeft-text {
    color: green;
    font-size: 100px;
    margin: 0;                 /* remove default spacing */
    line-height: 0.9;          /* tighten vertical spacing */
}

.LapsEstimatedLeft-text {
    color: green;
    font-size: 48px;
    margin: 0;                 /* remove default spacing */
    line-height: 1;             /* adjust as needed */
    margin-top: 5px;            /* small spacing from Gear */
}

.LastLapFuelUsage-text {
    color: rgb(156, 60, 33);
    font-size: 48px;
    margin: 0;                 /* remove default spacing */
    line-height: 1;             /* adjust as needed */
    margin-top: 5px;            /* small spacing from Gear */
}

.FuelPerLaptext {
    color: rgb(156, 60, 33);
    font-size: 48px;
    margin: 0;                 /* remove default spacing */
    line-height: 1;             /* adjust as needed */
    margin-top: 5px;            /* small spacing from Gear */
}

.FuelToEnd-text {
    color: rgb(156, 60, 33);
    font-size: 48px;
    margin: 0;                 /* remove default spacing */
    line-height: 1;             /* adjust as needed */
    margin-top: 5px;            /* small spacing from Gear */
}

.FuelToAddtext {
    color: red;
    font-size: 48px;
    margin: 0;                 /* remove default spacing */
    line-height: 1;             /* adjust as needed */
    margin-top: 5px;            /* small spacing from Gear */
}

.fuel-component {
    /*display: flex;*/
    justify-content: center; /* center the bar horizontally */
    width: 95%;
    height: 20px; 
    padding: 5px 0 0 0; /* small spacing above the bar */
}
