.fuel-gauge-widget {
    z-index: 5000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 36px;
    height: 175px;
    border-radius: 4px;
    background-color: rgba(2, 0, 0, 0.5);
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 6px;
    padding-bottom: 6px;
}

.fuel-level-text {
    font-size: 16px;
    margin-bottom: 0px;
}

.fuel-component {
    width: 30px;
    height: 95%;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.fuel-gauge-widget svg {
    width: 26px;
    height: 26px;
}