.fuel-gauge-widget {
    z-index: 5000;
    text-align: center;
    width: 36px;
    height: 175px;
    position: absolute;
    border-radius: 4px;
    background-color: rgba(2, 0, 0, 0.5);
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent scrollbars inside the widget */
    box-sizing: border-box; /* Include padding/border in width */
}

.fuel-level-text {
    color: white;
    font-size: 16px;
}

.fuel-component {
    min-width: 0;
    height: 95%;
    padding: 0;
    box-sizing: border-box;
}