.motec-widget {
    text-align: center;
    width: 150px;
    background-color: rgba(2, 0, 0, 0.5);
    position: absolute;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Prevent scrollbars inside the widget */
    box-sizing: border-box; /* Include padding/border in width */
}

.gear-text {
    color: white;
    font-size: 100px;
}

.speed-text {
    color: white;
    font-size: 48px;
}

.rpm-component {
    padding: 5px;
    align-content: center;
}