@page "/"
@inject SharedMemoryClientService SharedMemoryClientService
@inject ShortcutClientService ShortcutClientService
@inject HudLockService HudLockService
@inject SettingsService SettingsService
@using R3E.YaHud.Client.Services
@using R3E.YaHud.Client.Services.Settings
@using R3E.YaHud.Client.UI.Components
@using R3E.YaHud.Client.Widget

@if (!locked)
{
    <div class="icon-button-stack">
        <button class="icon-button" @onclick="ShowSettings">
            <svg class="fa-solid fa-gear"></svg>
        </button>

        <button class="icon-button" @onclick="ShowAbout">
            <svg class="fa-solid fa-circle-info"></svg>
        </button>
    </div>
}

@if(showSettings)
{
    <SettingsPanel Widgets="SettingsService.Widgets" OnClose="HideSettings"/>
}

@if(showAbout)
{
    <About OnClose="HideAbout" />
}

<R3E.YaHud.Client.Widget.Clock.Clock />
<R3E.YaHud.Client.Widget.MoTec.MoTec />

@code {
    private bool showSettings = false;
    private bool showAbout = false;
    private bool locked;
    protected override async Task OnInitializedAsync()
    {
        await SharedMemoryClientService.StartAsync();
        await ShortcutClientService.StartAsync();
        HudLockService.OnLockChanged += LockChanged;
        locked = HudLockService.Locked;

        await InvokeAsync(StateHasChanged);
    }

    public async Task DisposeAsync()
    {
        await SharedMemoryClientService.StopAsync();
        await ShortcutClientService.StopAsync();

    }

    private void ShowSettings()
    {
        showSettings = true;
        InvokeAsync(StateHasChanged);
    }   

    private async void HideSettings()
    {
        await SettingsService.SaveAll();
        showSettings = false;
        await InvokeAsync(StateHasChanged);
    }

    private void ShowAbout()
    {
        showAbout = true;
        InvokeAsync(StateHasChanged);
    }

    private async void HideAbout()
    {
        showAbout = false;
        await InvokeAsync(StateHasChanged);
    }

    private void LockChanged(bool locked)
    {
        if(locked){
            HideSettings();
            HideAbout();
        }
        this.locked = locked;
        InvokeAsync(StateHasChanged);
    }
}