.horizontal-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.horizontal-bar-track {
    width: 100%;
    height: 8px;
    position: relative;
    border-radius: 4px;
}

.horizontal-bar-dot {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
