.vertical-bar {
    display: flex;
    align-items: stretch;
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
    box-sizing: border-box;
}

.vertical-bar-track {
    display: flex;
    flex-direction: column-reverse; 
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
}

.vertical-bar-fill {
    width: 100%;
    height: 0%;
    transition: height 120ms linear; 
    box-sizing: border-box;
    align-self: stretch;
}
