@using R3E.YaHud.Components.UI.Helpers
@using R3E.YaHud.Components.Widget.Core
@using R3E.YaHud.Components.Widget.MoTec.Components
@using R3E.API
@using System.Numerics
@using System.Globalization
@inherits HudWidgetBase<RadarSettings>

@if (Settings?.Visible ?? false)
{
    <div id=@ElementId class="radar-widget">
        <div id="radar" @ref="radarElement" style="@RadarStyling.ToString()">
            @foreach (var child in radarChildren)
            {
                <div id="@child" class="@driverStyling.GetValueOrDefault(child)!.classlist.ToString()" style="@driverStyling.GetValueOrDefault(child)!.ToString()">

                </div>
            }
        </div>
    </div>
}


@code {

    public override string ElementId { get => "radarWidget"; }
    public override string Name => "Radar";
    public override string Category => "Telemetry";
    public override bool Collidable => false;

    public override double DefaultXPercent => 90;
    public override double DefaultYPercent => 90;
    private static string RadarGridImagePath = $"assets/img/radar/radar-grid.png";
    private StylingElement RadarStyling = new StylingElement();

    private Dictionary<int, DriverState> drivers = new Dictionary<int, DriverState>();
    private List<int> radarChildren = new List<int>();
    private Dictionary<int, StylingElement> driverStyling = new Dictionary<int, StylingElement>();
    private bool RadarPointer = true;
    private ElementReference radarElement;
    private double radarWidth;
    private DateTime lastAlertUtc = DateTime.MinValue;
    private TimeSpan alertCooldown = new TimeSpan(0, 0, 0, 0, 200);

    public Radar()
    {
        RadarStyling.setStyle("background-image", $"radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) ), url({RadarGridImagePath})");
        UseR3EData = true;
        UpdateInterval = TimeSpan.FromMilliseconds(30);
    }

    protected override void UpdateWithTestData()
    {
        radarChildren.Clear();
        driverStyling.Clear();

        RadarStyling.setStyle("opacity", Fmt(1));
        var driverCloseRightImg = "assets/img/radar/radar-grid-warning-right.png";
        RadarStyling.appendStyleString("background-image", $",url({driverCloseRightImg})");

        radarChildren.Add(0);
        var se = new StylingElement();
        se.classlist.add("radar-car");
        se.classlist.add("radar-car-self");
        se.setStyle("width", FmtPx(16.605));
        se.setStyle("height", FmtPx(37.899));
        se.setStyle("translate", "none");
        se.setStyle("transform", "translate3d(91.69718px,81.05032px,0) rotate(0rad);");
        se.setStyle("opacity", "1");
        driverStyling[0] = se;

        radarChildren.Add(1);
        var se2 = new StylingElement();
        se2.classlist.add("radar-car");
        se2.setStyle("width", FmtPx(16.416));
        se2.setStyle("height", FmtPx(33.306));
        se2.setStyle("translate", "none");
        se2.setStyle("transform", "translate3d(137.726px,51.27176px,0) rotate(0.004727272443771362305rad);");
        se2.setStyle("opacity", "1");
        driverStyling[1] = se2;

        radarChildren.Add(2);
        var se3 = new StylingElement();
        se3.classlist.add("radar-car");
        se3.setStyle("width", FmtPx(15.899));
        se3.setStyle("height", FmtPx(38.949));
        se3.setStyle("translate", "none");
        se3.setStyle("transform", "translate3d(70.538px,129.28278px,0) rotate(-0.03006303310394287rad);");
        se3.setStyle("opacity", "1");
        driverStyling[2] = se3;

        if (Settings.RadarBeeping)
        {
            if ((DateTime.UtcNow - lastAlertUtc) >= alertCooldown)
            {
                _ = PlayAlert(1 - 4 / Settings.RadarRange, 0 * -1 + 1 * 1);
                lastAlertUtc = DateTime.UtcNow;
            }
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            if(radarElement.Context != null)
            {
                radarWidth = await JS.InvokeAsync<double>(
                    "radarInterop.getOffsetWidth",
                    radarElement
                );

                // preload an effect file (wwwroot/assets/sounds/alert.mp3)
                _ = JS.InvokeVoidAsync("audioControllerManager.create", "alert", new { soundFile = "assets/sounds/radar/beep.wav" });
                _ = JS.InvokeVoidAsync("audioControllerManager.preload", "alert", "assets/sounds/radar/beep.wav");
                // optionally unlock on first user gesture
                _ = JS.InvokeVoidAsync("audioControllerManager.unlockAudioOnGestureOnce");

                StateHasChanged();
            }

        }
    }

    protected override void Update()
    {
        if (Settings is null) return;
        R3E.Data.Shared data = TelemetryService.Data.Raw;
        if (data.DriverData == null)
            return;

        alertCooldown = new TimeSpan(0, 0, 0, 0, Settings.BeepingInterval);

        foreach (var driver in data.DriverData)
        {
            drivers.TryAdd(driver.DriverInfo.SlotId, new DriverState());
        }

        var rotationMatrix = RotationMatrixFromEuler(data.Player.Orientation);
        var pointerStartRange = Settings.RadarRange * 1.1;
        var radarFadeRange = Settings.RadarRange + Settings.RadarFadeRange;

        var ownDriver = data.DriverData.FirstOrDefault(d => d.DriverInfo.UserId == data.Player.UserId);
        if (ownDriver.DriverInfo.UserId != data.Player.UserId)
            return;

        var ownPlace = ownDriver.Place;

        var speed = MpsToKph(ownDriver.CarSpeed);

        foreach (var driver in data.DriverData)
        {
            var slot = driver.DriverInfo.SlotId;
            if (ownPlace != driver.Place)
            {
                drivers[slot].RelativePos = RotateVector(rotationMatrix, SubtractVector(ownDriver.Position, driver.Position));
                var tmp = SubtractVector(driver.Orientation, ownDriver.Orientation);
                drivers[slot].RelativeOri = new Vector3(tmp.X, tmp.Y, tmp.Z);
            }
            drivers[slot].DriverData = driver;
        }

        var closeBySlot = drivers
            .Where(kvp => DistanceFromZero(kvp.Value.RelativePos) < radarFadeRange)
            .ToDictionary(kvp => kvp.Key, kvp => kvp.Value);

        double? closest = null;
        int closeLeft = 0;
        int closeRight = 0;

        foreach (var kv in drivers)
        {
            var slotId = kv.Key;
            var dd = kv.Value.DriverData;
            if (!radarChildren.Contains(slotId))
                radarChildren.Add(slotId);
            if (!driverStyling.ContainsKey(slotId))
            {
                var se = new StylingElement();
                se.setStyle("display", "none");
                se.classlist.add("radar-car");
                driverStyling[slotId] = se;
            }
        }

        foreach (var childSlotId in radarChildren)
        {
            if (!closeBySlot.TryGetValue(childSlotId, out var state))
            {
                if (driverStyling.TryGetValue(childSlotId, out var stylingHidden))
                {
                    stylingHidden.setStyle("display", "none");
                    driverStyling[childSlotId] = stylingHidden;
                }

                continue;
            }

            var child = driverStyling[childSlotId];
            var driverState = state;
            var driverRotation = driverState.RelativeOri.Y;
            var driverLeftRight = driverState.RelativePos.X;
            var driverFrontBack = driverState.RelativePos.Z;

            var carWidth = (double)driverState.DriverData.DriverInfo.CarWidth;
            var carLength = (double)driverState.DriverData.DriverInfo.CarLength;

            var distance = DistanceFromZero(driverState.RelativePos);

            if (distance < Settings.RadarRange)
            {
                if (driverLeftRight < 0 && (Math.Abs(driverFrontBack) < Math.Abs(driverLeftRight) || Math.Abs(driverFrontBack) <= carLength))
                    closeLeft = 1;
                else if (driverLeftRight > 0 && (Math.Abs(driverFrontBack) < Math.Abs(driverLeftRight) || Math.Abs(driverFrontBack) <= carLength))
                    closeRight = 1;
            }

            driverFrontBack = -driverFrontBack;

            var width = carWidth / Settings.RadarRange * radarWidth / 2;
            var height = carLength / Settings.RadarRange * radarWidth / 2;

            string transformStr;
            string opacityStr;

            if (RadarPointer && distance > pointerStartRange)
            {
                var pointerRotation = GetRadarPointerRotation(distance, driverState.RelativePos.X, driverState.RelativePos.Z);
                var pointerOpacity = Math.Pow((distance - radarFadeRange) / (Settings.RadarRange - radarFadeRange), 0.5);

                child.setStyle("display", null);
                child.setStyle("background-color", "red");
                child.setStyle("border-radius", "0px");
                child.setStyle("width", FmtPx(width));
                child.setStyle("height", "20px");
                child.setStyle("translate", "-50% -50%");
                transformStr = driverState.RelativePos.Z > 0 ? $"rotate({Fmt(pointerRotation)}rad) translate3d(0px,-150px,0px)" : $"rotate({Fmt(pointerRotation)}rad) translate3d(0px,150px,0px)";
                child.setStyle("transform", transformStr);
                opacityStr = Fmt(pointerOpacity);
                child.setStyle("opacity", opacityStr);

                driverStyling[childSlotId] = child;
            }
            else
            {
                var leftVal = (driverLeftRight / Settings.RadarRange) * radarWidth / 2 + radarWidth / 2 - width / 2;
                var topVal = (driverFrontBack / Settings.RadarRange) * radarWidth / 2 + radarWidth / 2 - height / 2;

                transformStr = $"translate3d({FmtPx(leftVal)},{FmtPx(topVal)},0) rotate({Fmt(driverRotation)}rad)";
                opacityStr = "1";

                child.setStyle("display", null);
                child.setStyle("background-color", ownPlace == driverState.DriverData.Place ? "white" : "red");
                child.setStyle("border-radius", "6px");

                if(!Settings.Use3DTranslate){
                    child.setStyle("left", FmtPx(leftVal));
                    child.setStyle("top", FmtPx(topVal));
                    child.setStyle("transform", $"rotate({Fmt(driverRotation)}rad)");
                }

                child.setStyle("width", FmtPx(width));
                child.setStyle("height", FmtPx(height));

                child.setStyle("translate", "none");
                if(Settings.Use3DTranslate)
                    child.setStyle("transform", $"{transformStr}");
                child.setStyle("opacity", "1");

                driverStyling[childSlotId] = child;
            }

            if (ownDriver.DriverInfo.SlotId == driverState.DriverData.DriverInfo.SlotId)
            {
                child.classlist.add("radar-car-self");
                driverStyling[childSlotId] = child;
            }
            else
            {
                if (closest == null || distance < closest)
                    closest = distance;

                child.classlist.remove("radar-car-self");
                driverStyling[childSlotId] = child;
            }
        }

        if (closeLeft == 1)
        {
            var driverCloseLeftImg = "assets/img/radar/radar-grid-warning-left.png";
            RadarStyling.appendStyleString("background-image", $",url({driverCloseLeftImg})");
        }
        else
        {
            var driverCloseLeftImg = "assets/img/radar/radar-grid-warning-left.png";
            RadarStyling.removeStyleString("background-image", $",url({driverCloseLeftImg})");
        }
        if (closeRight == 1)
        {
            var driverCloseRightImg = "assets/img/radar/radar-grid-warning-right.png";
            RadarStyling.appendStyleString("background-image", $",url({driverCloseRightImg})");
        }
        else
        {
            var driverCloseRightImg = "assets/img/radar/radar-grid-warning-right.png";
            RadarStyling.removeStyleString("background-image", $",url({driverCloseRightImg})");
        }

        if (Settings.RadarBeeping)
        {
            if ((closeLeft == 1 || closeRight == 1) && speed >= Settings.MinBeepSpeed)
            {
                if ((DateTime.UtcNow - lastAlertUtc) >= alertCooldown)
                {
                    _ = PlayAlert(1 - closest!.Value / Settings.RadarRange, closeLeft * -1 + closeRight * 1);
                    lastAlertUtc = DateTime.UtcNow;
                }

            }
        }


        if (Settings.AutoHideRadar)
        {
            if (closest == null || closest > radarFadeRange)
            {
                RadarStyling.setStyle("opacity", "0");
                return;
            }

            var opacityValue = closest.Value < Settings.RadarRange ? Settings.RadarOpacity : ((closest.Value - radarFadeRange) / (Settings.RadarRange - radarFadeRange)) * Settings.RadarOpacity;

            RadarStyling.setStyle("opacity", Fmt(opacityValue));
        }
    }


    private static double[,] RotationMatrixFromEuler(R3E.Data.Vector3<Double> euler)
    {
        double x = -euler.X;
        double y = -euler.Y;
        double z = -euler.Z;

        double c1 = Math.Cos(x);
        double s1 = Math.Sin(x);
        double c2 = Math.Cos(y);
        double s2 = Math.Sin(y);
        double c3 = Math.Cos(z);
        double s3 = Math.Sin(z);

        return new double[,]
        {
            { c2 * c3, -c2 * s3, s2 },
            { c1 * s3 + c3 * s1 * s2, c1 * c3 - s1 * s2 * s3, -c2 * s1 },
            { s1 * s3 - c1 * c3 * s2, c3 * s1 + c1 * s2 * s3, c1 * c2 }
        };
    }

    public static Vector3 RotateVector(double[,] matrix, R3E.Data.Vector3<Double> vector)
    {
        float x = (float)(matrix[0, 0] * vector.X + matrix[0, 1] * vector.Y + matrix[0, 2] * vector.Z);
        float y = (float)(matrix[1, 0] * vector.X + matrix[1, 1] * vector.Y + matrix[1, 2] * vector.Z);
        float z = (float)(matrix[2, 0] * vector.X + matrix[2, 1] * vector.Y + matrix[2, 2] * vector.Z);

        return new Vector3(x, y, z);
    }

    public static Vector3 RotateVector(double[,] matrix, R3E.Data.Vector3<float> vector)
    {
        float x = (float)(matrix[0, 0] * vector.X + matrix[0, 1] * vector.Y + matrix[0, 2] * vector.Z);
        float y = (float)(matrix[1, 0] * vector.X + matrix[1, 1] * vector.Y + matrix[1, 2] * vector.Z);
        float z = (float)(matrix[2, 0] * vector.X + matrix[2, 1] * vector.Y + matrix[2, 2] * vector.Z);

        return new Vector3(x, y, z);
    }

    public static Vector3 SubtractVector(Vector3 a, Vector3 b)
    {
        return new Vector3(a.X - b.X, a.Y - b.Y, a.Z - b.Z);
    }

    public static R3E.Data.Vector3<float> SubtractVector(R3E.Data.Vector3<float> a, R3E.Data.Vector3<float> b)
    {
        return new R3E.Data.Vector3<float>
        {
            X = a.X - b.X,
            Y = a.Y - b.Y,
            Z = a.Z - b.Z
        };
    }

    public double DistanceFromZero(Vector3 v)
    {
        return Math.Sqrt(v.X * v.X + v.Z * v.Z);
    }

    public static double GetRadarPointerRotation(double d, double x, double z)
    {
        double angle = Math.Acos(Math.Abs(z) / d);

        if (x > 0 && z > 0)
        {
            return angle;
        }
        else if (x > 0 && z < 0)
        {
            return -angle;
        }
        else if (x < 0 && z > 0)
        {
            return -angle;
        }
        else
        {
            return angle;
        }
    }

    public static double MpsToKph(Single mps)
    {
        return mps * 3.6;
    }

    private static string Fmt(double v) =>
        v.ToString("G", CultureInfo.InvariantCulture);

    private static string FmtPx(double v) =>
        Fmt(v) + "px";
    
    
    private Task PlayAlert(double amount, double pan)
    {
        return JS.InvokeVoidAsync("audioControllerManager.play", "alert", amount, pan).AsTask();
    }
}
