@using R3E.YaHud.Components.Widget.Core
@using R3E.YaHud.Components.Widget.MoTec.Components
@using R3E.API
@using System.Numerics
@inherits HudWidgetBase<RadarSettings>

@if (Settings?.Visible ?? false)
{
    <div id=@ElementId class="radar-widget">
        <div id="radar" @ref="radarElement" style="@RadarStyling.ToString()">
            @foreach (var child in radarChildren)
            {
                <div id="@child" class="@driverStyling.GetValueOrDefault(child)!.classlist.ToString()" style="@driverStyling.GetValueOrDefault(child)!.ToString()">

                </div>
            }
        </div>
    </div>
}


@code {

    public override string ElementId { get => "radarWidget"; }
    public override string Name => "Radar";
    public override string Category => "Telemetry";
    public override bool Collidable => false;

    public override double DefaultXPercent => 90;
    public override double DefaultYPercent => 90;
    private static string RadarGridImagePath = $"assets/img/radar/radar-grid.png";
    private stylingElement RadarStyling = new stylingElement();
    //TODO Refactor this to a proper class.
    class DriverState { public Vector3 RelativePos; public Vector3 RelativeOri; public R3E.Data.DriverData DriverData; } //TODO move to proper struct/class file.
    private Dictionary<int, DriverState> drivers = new Dictionary<int, DriverState>();

    //private List<Data.DriverInfo> radarChildren = new List<Data.DriverInfo>();
    private List<int> radarChildren = new List<int>();
    private Dictionary<int, stylingElement> driverStyling = new Dictionary<int, stylingElement>();
    private bool RadarPointer = true;
    private ElementReference radarElement;
    private double radarWidth;

    public Radar()
    {
        RadarStyling.setStyle("background-image", $"radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4) ), url({RadarGridImagePath})");
        UseR3EData = true;
        UpdateInterval = TimeSpan.FromMilliseconds(30);
    }

    protected override void UpdateWithTestData()
    {

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            if(radarElement.Context != null)
            {
                radarWidth = await JS.InvokeAsync<double>(
                    "radarInterop.getOffsetWidth",
                    radarElement
                );

                StateHasChanged();
            }

        }
    }

    protected override void Update()
    {
        if (Settings is null) return;
        R3E.Data.Shared data = TelemetryService.Data.Raw;
        if (data.DriverData == null)
            return;

        foreach (var driver in data.DriverData)
        {
            drivers[driver.DriverInfo.SlotId] = new DriverState();
        }

        var rotationMatrix = RotationMatrixFromEuler(data.Player.Orientation);
        var pointerStartRange = Settings.RadarRange * 1.1;
        var radarFadeRange = Settings.RadarRange + Settings.RadarFadeRange;

        var ownPlace = data.DriverData.Where(d => d.DriverInfo.UserId == data.Player.UserId).FirstOrDefault().Place; //TODO verify that this does not cause errors.
        var ownDriver = data.DriverData.Where(d => d.DriverInfo.UserId == data.Player.UserId).FirstOrDefault(); //TODO verify this exists.

        foreach (var driver in data.DriverData)
        {
            if (ownPlace != driver.Place)
            {
                drivers[driver.DriverInfo.SlotId].RelativePos = RotateVector(rotationMatrix, SubtractVector(ownDriver.Position, driver.Position));
                var tmp = SubtractVector(driver.Orientation, ownDriver.Orientation);
                drivers[driver.DriverInfo.SlotId].RelativeOri = new Vector3(tmp.X, tmp.Y, tmp.Z);
            }
            drivers[driver.DriverInfo.SlotId].DriverData = driver;

        }

        var closeDrivers = drivers.Where(d => DistanceFromZero(d.Value.RelativePos) < radarFadeRange).ToList();

        double? closest = null;
        int closeLeft = 0;
        int closeRight = 0;

        foreach(var driver in drivers)
        {
            if (!radarChildren.Contains(driver.Value.DriverData.DriverInfo.SlotId))
                radarChildren.Add(driver.Value.DriverData.DriverInfo.SlotId);
            if (!driverStyling.ContainsKey(driver.Value.DriverData.DriverInfo.SlotId))
            {
                driverStyling.Add(driver.Value.DriverData.DriverInfo.SlotId, new stylingElement());
                driverStyling[driver.Value.DriverData.DriverInfo.SlotId].display = "none";

                driverStyling[driver.Value.DriverData.DriverInfo.SlotId].classlist.add("radar-car");
            }
        }

        for (int i = 0; i < radarChildren.Count; i++)
        {
            if (i >= closeDrivers.Count)
            {
                if (i < radarChildren.Count)
                {
                    if (driverStyling.ContainsKey(i))
                        driverStyling[i].display = "none";
                }
                continue;
            }

            var childSlotId = radarChildren[i];

            var child = driverStyling[childSlotId];
            var driver = closeDrivers[i];
            var driverRotation = driver.Value.RelativeOri.Y;
            var driverLeftRight = driver.Value.RelativePos.X;
            var driverFrontBack = driver.Value.RelativePos.Z;

            var carWdith = driver.Value.DriverData.DriverInfo.CarWidth;
            var carLength = driver.Value.DriverData.DriverInfo.CarLength;

            var distance = DistanceFromZero(driver.Value.RelativePos);

            if (distance < Settings.RadarRange)
            {
                if (driverLeftRight < 0 && (Math.Abs(driverFrontBack) < Math.Abs(driverLeftRight) || Math.Abs(driverFrontBack) <= carLength))
                {
                    closeLeft = 1;
                }
                else if (driverLeftRight > 0 && (Math.Abs(driverFrontBack) < Math.Abs(driverLeftRight) || Math.Abs(driverFrontBack) <= carLength))
                {
                    closeRight = 1;
                }
            }

            driverFrontBack = -driverFrontBack;

            var width = carWdith / Settings.RadarRange * radarWidth / 2; //TODO find radar size
            var height = carLength / Settings.RadarRange * radarWidth / 2; //TODO find radar size

            if (RadarPointer && distance > pointerStartRange)
            {
                var pointerRotation = GetRadarPointerRotation(distance, driver.Value.RelativePos.X, driver.Value.RelativePos.Z);
                var pointerOpacity = Math.Pow((distance - radarFadeRange) / (Settings.RadarRange - radarFadeRange), 1/2);

                child.setStyle("display", null);//child.display = null;
                child.setStyle("background-color", "red");//child.BackgroundColor = "red";
                child.setStyle("border-radius","0px");//child.BorderRadius = "0px";
                child.setStyle("left", "50%");//child.left = "50%";
                child.setStyle("top", "50%");//child.top = "50%";
                child.setStyle("width", $"{width}px");//child.width = $"{width}px";
                child.setStyle("height", "20px");//child.height = "20px";
                child.setStyle("translate","-50% -50%");//child.translate = "-50% -50%";
                if (driver.Value.RelativePos.Z > 0)
                {
                    //child.transform = $"rotate({pointerRotation.ToString().Replace(",",".")}rad)translate(0px, -150px)";
                    child.setStyle("transform", $"rotate({pointerRotation.ToString().Replace(",", ".")}rad)translate(0px, -150px)");
                }
                else
                {
                    //child.transform = $"rotate({pointerRotation.ToString().Replace(",", ".")}rad)translate(0px, 150px)";
                    child.setStyle("transform", $"rotate({pointerRotation.ToString().Replace(",", ".")}rad)translate(0px, 150px)");
                }

                child.setStyle("opacity", $"pointerOpacity");//child.opacity = $"{pointerOpacity}";
                driverStyling[i] = child;

            }
            else
            {
                var pointerRotation = GetRadarPointerRotation(distance, driver.Value.RelativePos.X, driver.Value.RelativePos.Z);

                child.setStyle("display", null);//"display: none;"; //Reset styling" //child.display = null;
                child.setStyle("background-color", ownPlace == driver.Value.DriverData.Place ? "white" : "red");//child.BackgroundColor = ownPlace == driver.Value.DriverData.Place ? "white" : "red";
                child.setStyle("border-radius", "6px");//child.BorderRadius = "6px";
                child.setStyle("left", $"{(driverLeftRight / Settings.RadarRange) * radarWidth / 2 + radarWidth / 2 - width / 2}px");//child.left = $"{(driverLeftRight / Settings.RadarRange) * radarWidth / 2 + radarWidth / 2 - width / 2}px";
                child.setStyle("top", $"{(driverFrontBack / Settings.RadarRange) * radarWidth / 2 + radarWidth / 2 - height / 2}px");//child.top = $"{(driverFrontBack / Settings.RadarRange) * radarWidth / 2 + radarWidth / 2 - height / 2}px";
                child.setStyle("width", $"{width}px");//child.width = $"{width}px";
                child.setStyle("height", $"{height}px");//child.height = $"{height}px";
                child.setStyle("translate", "none");//child.translate = "none";
                child.setStyle("transform", $"rotate({driverRotation.ToString().Replace(",", ".")}rad)");//child.transform = $"rotate({driverRotation.ToString().Replace(",",".")}rad)";

                child.setStyle("opacity", "1");//child.opacity = "1";
                driverStyling[i] = child;
            }

            if (ownDriver.DriverInfo.UserId == driver.Value.DriverData.DriverInfo.UserId)
            {
                child.classlist.add("radar-car-self");
                driverStyling[i] = child;
            }
            else
            {
                if (closest == null || distance < closest)
                {
                    closest = distance;
                }
                child.classlist.remove("radar-car-self");
                driverStyling[i] = child;
            }
        }

        // if(closeLeft == 1)
        // {
        //     var driverCloseLeftImg = "assets/img/radar/radar-grid-warning-left.png";
        //     RadarStyling.appendStyleString("background-image", $",url({driverCloseLeftImg})");
        // } 
        // if(closeRight == 1)
        // {
        //     var driverCloseRightImg = "assets/img/radar/radar-grid-warning-left.png";
        //     RadarStyling.appendStyleString("background-image", $",url({driverCloseRightImg})");
        // }

        if (Settings.AutoHideRadar)
        {
            if (closest == null || closest > radarFadeRange)
            {
                RadarStyling.setStyle("opacity", "0");
                return;
            }

            RadarStyling.setStyle("opacity", closest < Settings.RadarRange ? $"{Settings.RadarOpacity}" : $"{((closest - radarFadeRange) / (Settings.RadarRange - radarFadeRange)) * Settings.RadarOpacity}");
        }

    }


    private static double[,] RotationMatrixFromEuler(R3E.Data.Vector3<Double> euler)
    {
        double x = -euler.X;
        double y = -euler.Y;
        double z = -euler.Z;

        double c1 = Math.Cos(x);
        double s1 = Math.Sin(x);
        double c2 = Math.Cos(y);
        double s2 = Math.Sin(y);
        double c3 = Math.Cos(z);
        double s3 = Math.Sin(z);

        return new double[,]
        {
            { c2 * c3, -c2 * s3, s2 },
            { c1 * s3 + c3 * s1 * s2, c1 * c3 - s1 * s2 * s3, -c2 * s1 },
            { s1 * s3 - c1 * c3 * s2, c3 * s1 + c1 * s2 * s3, c1 * c2 }
        };
    }

    public static Vector3 RotateVector(double[,] matrix, R3E.Data.Vector3<Double> vector)
    {
        float x = (float)(matrix[0, 0] * vector.X + matrix[0, 1] * vector.Y + matrix[0, 2] * vector.Z);
        float y = (float)(matrix[1, 0] * vector.X + matrix[1, 1] * vector.Y + matrix[1, 2] * vector.Z);
        float z = (float)(matrix[2, 0] * vector.X + matrix[2, 1] * vector.Y + matrix[2, 2] * vector.Z);

        return new Vector3(x, y, z);
    }

    public static Vector3 RotateVector(double[,] matrix, R3E.Data.Vector3<float> vector)
    {
        float x = (float)(matrix[0, 0] * vector.X + matrix[0, 1] * vector.Y + matrix[0, 2] * vector.Z);
        float y = (float)(matrix[1, 0] * vector.X + matrix[1, 1] * vector.Y + matrix[1, 2] * vector.Z);
        float z = (float)(matrix[2, 0] * vector.X + matrix[2, 1] * vector.Y + matrix[2, 2] * vector.Z);

        return new Vector3(x, y, z);
    }

    public static Vector3 SubtractVector(Vector3 a, Vector3 b)
    {
        return new Vector3(a.X - b.X, a.Y - b.Y, a.Z - b.Z);
    }

    public static R3E.Data.Vector3<float> SubtractVector(R3E.Data.Vector3<float> a, R3E.Data.Vector3<float> b)
    {
        return new R3E.Data.Vector3<float>
        {
            X = a.X - b.X,
            Y = a.Y - b.Y,
            Z = a.Z - b.Z
        };
    }

    public double DistanceFromZero(Vector3 v)
    {
        return Math.Sqrt(v.X * v.X + v.Z * v.Z);
    }

    public static double GetRadarPointerRotation(double d, double x, double z)
    {
        double angle = Math.Acos(Math.Abs(z) / d);

        if (x > 0 && z > 0)
        {
            return angle;
        }
        else if (x > 0 && z < 0)
        {
            return -angle;
        }
        else if (x < 0 && z > 0)
        {
            return -angle;
        }
        else
        {
            return angle;
        }
    }


    class stylingElement
    {
        public Dictionary<string, string> styles = new Dictionary<string, string>();
        public string BackgroundColor;
        public string BorderRadius;
        public string left;
        public string top;
        public string width;
        public string height;
        public string translate;
        public string transform;
        public string opacity;
        public string display;
        public string backgroundimage;
        public classList classlist = new classList();

        public void setStyle(string key, string value)
        {
            styles[key] = value;
        }

        public string getStyle(string key)
        {
            if (styles.ContainsKey(key))
            {
                return styles[key];
            }
            else
            {
                return "";
            }
        }

        public void removeStyle(string key)
        {
            if (styles.ContainsKey(key))
            {
                styles.Remove(key);
            }
        }

        public void updateStyleString(string key, string value)
        {
            if(styles.ContainsKey(key))
            {
                styles[key] = value;
            }
        }

        public void appendStyleString(string key, string value)
        {
            if (styles.ContainsKey(key))
            {
                styles[key] += " " + value;
            }
            else
            {
                styles[key] = value;
            }
        }


        public override string ToString()
        {

            if(styles.TryGetValue("display", out var displayValue) && displayValue != null)
            {
                return $"display: {displayValue};";
            }

            return string.Join("; ", styles.Where(kvp => kvp.Key != "display").Select(kvp => $"{kvp.Key}: {FormatValue(kvp.Key, kvp.Value)}"));

            // if (display != null)
            //     return$"display: {display}";
            // else 
            //     return $"background-color: {BackgroundColor}; border-radius: {BorderRadius}; width: {width.Replace(",", ".")}; height: {height.Replace(",", ".")}; transform: {transform}; translate: {translate}; opacity: {opacity}; top: {top.Replace(",", ".")}; left: {left.Replace(",", ".")}";
        }

        private string FormatValue(string key, string value)
        {
            if (key is "width" or "height" or "top" or "left" or "border-radius" or "opacity")
            {
                return value.Replace(",", ".");
            } 
            // else if (key is "display")
            // {
            //     return "";
            // }
            else
            {
                return value;
            }
        }

        public class classList
        {

            private string classlist = "";
            public void add(string className)
            {
                if (!classlist.Contains(className))
                {
                    classlist += " " + className;
                }
            }
            public void remove(string className)
            {
                classlist = classlist.Replace(" " + className, "");
            }
            public override string ToString()
            {
                return classlist;
            }
        }

    }
}
