@using R3E.YaHud.Components.Widget.Core
@using R3E.YaHud.Services.Settings
@inject SettingsService SettingsService

<div class="settings-panel settings-master" @onclick="() => events.RaiseBodyClick()" @onclick:stopPropagation>
    <div class="panel-header">
        <h2>Widget Settings</h2>
        <div class="close-btn" @onclick="OnClose">
            <Icon Name="x" />
        </div>
    </div>

    <div class="panel-body">
        @foreach (var group in WidgetsByCategory)
        {
            <SettingsCategory Name="@group.Key" Widgets="@group.AsEnumerable()" />
        }
    </div>

    <div class="panel-footer">
        <button class="btn dark danger-hover" @onclick="() => SettingsService.ClearAll()" aria-label="Clear all settings">Clear All Settings</button>
    </div>
</div>

@code {
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public List<IWidget> Widgets { get; set; } = [];

    [CascadingParameter] public SettingPanelEvents events { get; set; }

    private IEnumerable<IGrouping<string, IWidget>> WidgetsByCategory => Widgets.GroupBy(w => w.Category);
}
