.setting-row-label {
    margin-bottom: 0.15rem;
}

.setting-row-input {
    width: 10rem;

    .text-input {
        width: 10rem;
    }
}

.setting-row-input:not(:last-child) {
    margin-bottom: 1.25rem;
}

