@using R3E.YaHud.Components.Widget.Core
<div class="widget-menu-wrapper">
    <button class="btn ghost" @onclick="() => menuOpen = !menuOpen" @onclick:stopPropagation>
        <Icon Name="elipsis-vertical" />
    </button>

    @if (menuOpen)
    {
        <div class="widget-menu">
            <ul>
                <li class="menu-item" @onclick="() => Widget.ResetPosition()">Reset Position</li>
                <li class="menu-item" @onclick="() => Widget.ResetScale()">Reset Scale</li>
            </ul>
        </div>
    }
</div>

@code {
    [Parameter] public IWidget Widget { get; set; } = null!;
    [CascadingParameter] public SettingPanelEvents? masterPanelEvents { get; set; }

    private bool menuOpen = false;

    protected override void OnInitialized()
    {
        masterPanelEvents!.BodyClicked += () =>
        {
            menuOpen = false;
            InvokeAsync(StateHasChanged);
        };
    }
}
