.start-light-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    text-align: center;
    border-radius: 4px;
    width: 300px;
    height: 80px;
    background-color: rgba(2, 0, 0, 0.5);
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    padding: 4px;
}